:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Ukrycie paska przewijania we wszystkich przeglądarkach */
html, body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE i Edge */
}

/* Chrome, Safari i Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  width: 0;
}

/* Aplikacja ukryj pasek przewijania w całej aplikacji */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
}

/* Kalendarz - pełna szerokość */
.fc {
  width: 100% !important;
} 